img {
    float: center;
    border-radius: 15px;
}
h1 {
    text-align: center;
    line-height: 41px;
    height: 41px;
    padding: 5px;
    font-size: 250%;
    font-style: italic;
    font-weight: bolder;
    vertical-align: middle;
}
.origin{
    position: absolute;
    width: 993px;
    height: 201px;
    left: 258px;
    right: 258px;
    top: 149px;
    background: #C4C4C4;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    padding:10px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.generator-box{
    position: absolute;
    height: 492px;
    width: 826px;
    left: 352px;
    right:352;
    top: 450px;
    background: #C4C4C4;
    border-radius: 10px;
}
