/*body{
    background-image: url(akan-marriage.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}
*/
img {
    float: center;
    border-radius: 15px;
}
h1 {
    text-align: center;
    line-height: 41px;
    height: 41px;
    padding: 5px;
    font-size: 250%;
    font-style: italic;
    font-weight: bolder;
    vertical-align: middle;
    color: azure;
}
h3{
    text-align: center;
    padding: 1px;
    font-size: 200%;
    font-style: italic; 
}
.origin{
    position: absolute;
    width: 993px;
    height: 201px;
    left: 258px;
    right: 258px;
    top: 149px;
    background: #C4C4C4;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    padding:10px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.generator-box{
    position: absolute;
    height: 452px;
    width: 826px;
    left: 352px;
    right:352px;
    top: 450px;
    background: #C4C4C4;
    border-radius: 10px;
}
.generator-box p{
    padding: 10px;
}
form {
    padding:15px;
}
.button{
    border-radius: 5px;
    background-color:#9cb2ee;
    transition: 0.7s;
}
.form{
    border-radius: 5px; 
    padding-left: 20px; 
}
footer{
    top: 904px;
    width:100%;
    height:102px;
}
.footer{
    text-align: center;
    font-size: medium;
    position:fixed;
    bottom:0px;
    top: 904px;
    width:100%;
    height: 102px;
    height: 50px;
    width: 100%;
    background-color: #333;
    display: inline-flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    color: white;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-weight: 700;
}